
.menu-item {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px 24px;
  margin: 8px 16px;
  text-decoration: none;
  color: #333;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.menu-item .icon {
  width: 22px;
  text-align: center;
  font-size: 18px;
}

.menu-item span:last-child {
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.menu-item:hover {
  background: #f0e1db;
  color: #d66744;
}

.menu-item.active {
  background: #d66744 !important;
  color: #fff !important;
}

.menu-item.active .icon {
  color: #fff !important;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-track {
  background: transparent;
}




.sidebar-menu a {
  display: flex;
  align-items: center;
  gap: 14px;

  height: 58px;
  padding: 0 22px;

  text-decoration: none;
  color: #222;

  font-size: 15px;
  font-weight: 500;

  border-bottom: 1px solid #f3f3f3;

  transition: all 0.3s ease;
}

.sidebar-menu a:hover {
  background: #fff2ed;
  color: #d66744;
  padding-left: 28px;
}

.sidebar-menu a.active {
  background: #fff2ed;
  color: #d66744;
  border-left: 4px solid #d66744;
}